html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body > div.ember-view {
  height: 100%;
}

.col1 {
  background-color: #3D9970;
  opacity: .7;
}
.col2 {
  background-color: #FFDC00;
  opacity: .7;
}
.col3 {
  background-color: #85144b;
  opacity: .7;
}
.col4 {
  background-color: #0074D9;
  opacity: .7;
}

.half-height {
  height: 50%;
}
